body {
    font-family: "微軟正黑體";
    color: #829886;
 }
.order{
  width: 310px; 
}
.title{
  height: 60px;
  font-size:36px;
  font-weight:bold;
  background: #e7eeea;
  padding: 20px 0;    
  display:flex;
  justify-content:center;
  align-items:center;
}
.amount-box{
  padding: 10px 10px;
  border: 1px solid lightgray;
  margin-bottom: 20px;
}
.amountlist{  
  display:flex;
  justify-content:space-between;
  padding: 10px 10px;
}
.amountlist span{
   font-weight:bold;
   font-size:20px;  
}
.amountTotal span{
  font-size:24px;
  font-weight:bold;
}
.product-box{
  border: 1px solid #e7eeea;
  padding-top: 20px;
}
.productlist{
  display:flex;
  justify-content:space-around;
  align-items:center; 
  margin-bottom:20px;
} 
.product-price {
  font-size:18px;
  font-weight:bold;
  line-height:1.3;
  margin: 10px 0px;
}
 




