/* 全域樣式設定 */

// body vs "*" 差異 : *:表示 each tag

img {
    max-width: 100%;
    vertical-align:middle
}
*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;

    color:$primary-w3; 
}

a {
    text-decoration: none;
    color: white;
} 


