// text
.text-white{
  color:white;
}
.text-dark{
  color:black;
}
.bold{
  font-weight:700;
}
.regular{
  font-weight: 500;
}
// font
.h1 {
  font-size: 48px;  
}
.h2 {
  font-size: 32px;  
}
.h3 {
  font-size: 28px;  
}
.h4 {
  font-size: 24px;  
}
.h5 {
  font-size: 20px;  
}
.h6 {
  font-size: 16px;  
}
//---setup h1,h2 class
.font-h1{
  font-size: 64px;
  line-height: 96px;
  font-weight: medium ;
}
.font-h2{
  font-size: 48px;
  line-height: 72px;
  font-weight: bold;
  margin-bottom: 60px;
  text-align: center;
}
/* flex utility */
.d-flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
// margin-range
.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}

// position
.pos-r {
  position: relative;
}
.pos-a {
  position: absolute;
}
.d-none{
  display: none;
}
.show{
  display: block;
}