.question.bg-cover {
  background: url("../images/w3/72@2x.png") center/ cover no-repeat;
}
.question-banner {
  padding-top: 230px;
  padding-bottom: 16px;
  margin-bottom: 88px;
  & > h1 {
    font-size: 64px;
    font-weight:bold;
    padding-right: 10px;
    color: black;
  }
  img {
    width: 58px;
  }
}
.qa {
    padding-bottom: 156px;
    color:black;
    font-weight:bold;
    h3{
        font-size:32px;  //32,28,20
        line-height: 45px;  //45,40,28
        margin-bottom: 16px;
    }
  }  
  .qa-list {
    border: 1px solid #000;
  }
  .qa-item-detail {
    padding: 22px 38px;
    border-bottom: 1px solid #000000;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    h4 {
        font-size: 20px;   
      }  
  }
  .qa-item-answer {
    padding: 22px 38px;
    font-size: 16px;    
    line-height: 24px;
    background-color: #F2F2F2;
    border-bottom: 1px solid #000000;
  }
  
  
@media (max-width: 992px){
    .container {
        max-width: 672px;
        margin: 0 auto;
      }
    .question-banner {
        padding-top: 247px;
        padding-bottom: 10px;
        margin-bottom: 40px;
        & > h1 {
          font-size: 48px;
          font-weight:bold;
          padding-right: 16spx;
          color: black;
        }
        & > img {
          width: 48px;
        }
      }
      .qa {
        padding-bottom: 104px; // 104,56
        h3{
            font-size:28px;  //32,28,20
            line-height: 40px;  //45,40,28
        }
      }  
      .qa-item-detail {
        padding: 16px;
        h4 {
            font-size: 16px;  //20,16,16 
          }  
      }
      .qa-item-answer {
        padding: 22px 38px;
        font-size: 14px;   //16,14,14
        line-height: 21px;
      }

}

@media (max-width: 767px) {
    .container {
        max-width: 352px;
        margin: 0 auto;
      }
    .question-banner {
        padding-top: 111px;
        padding-bottom: 8px;
        margin-bottom: 24px;
        & > h1 {
          font-size: 28px;
          font-weight:bold;
          padding-right: 16spx;
          color: black;
        }
        & > img {
          width: 24px;
        }
      }
      .qa {
        padding-bottom: 56px; // 104,56
        h3{
            font-size:20px;  //32,28,20
            line-height: 28px;  //45,40,28
            
        }
      }  
}

