@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&family=Roboto:wght@400;500;700;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 全域樣式設定 */
img {
  max-width: 100%;
  vertical-align: middle;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #650300;
}

a {
  text-decoration: none;
  color: white;
}

.text-white {
  color: white;
}

.text-dark {
  color: black;
}

.bold {
  font-weight: 700;
}

.regular {
  font-weight: 500;
}

.h1 {
  font-size: 48px;
}

.h2 {
  font-size: 32px;
}

.h3 {
  font-size: 28px;
}

.h4 {
  font-size: 24px;
}

.h5 {
  font-size: 20px;
}

.h6 {
  font-size: 16px;
}

.font-h1 {
  font-size: 64px;
  line-height: 96px;
  font-weight: medium;
}

.font-h2 {
  font-size: 48px;
  line-height: 72px;
  font-weight: bold;
  margin-bottom: 60px;
  text-align: center;
}

/* flex utility */
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.pos-r {
  position: relative;
}

.pos-a {
  position: absolute;
}

.d-none {
  display: none;
}

.show {
  display: block;
}

.question.bg-cover {
  background: url("../images/w3/72@2x.png") center/cover no-repeat;
}

.question-banner {
  padding-top: 230px;
  padding-bottom: 16px;
  margin-bottom: 88px;
}

.question-banner > h1 {
  font-size: 64px;
  font-weight: bold;
  padding-right: 10px;
  color: black;
}

.question-banner img {
  width: 58px;
}

.qa {
  padding-bottom: 156px;
  color: black;
  font-weight: bold;
}

.qa h3 {
  font-size: 32px;
  line-height: 45px;
  margin-bottom: 16px;
}

.qa-list {
  border: 1px solid #000;
}

.qa-list:not(:last-child) {
  border-bottom: 0;
}

.qa-list.show .qa-item-detail::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.qa-list.show .qa-item-answer {
  display: block;
}

.qa-item-detail {
  padding: 22px 38px;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.qa-item-detail::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 35px;
  background-size: cover;
  background-position: center center;
  background-image: url("../images/w3/arrow-down.svg");
}

.qa-item-answer {
  padding: 22px 38px;
  font-size: 16px;
  line-height: 24px;
  background-color: #f2f2f2;
  border-top: 1px solid #000000;
}

@media (max-width: 992px) {
  .container {
    max-width: 672px;
  }
  .question-banner {
    padding-top: 247px;
    padding-bottom: 10px;
    margin-bottom: 40px;
  }
  .question-banner > h1 {
    font-size: 48px;
    font-weight: bold;
    padding-right: 16spx;
    color: black;
  }
  .question-banner > img {
    width: 48px;
  }
  .qa {
    padding-bottom: 104px;
  }
  .qa h3 {
    font-size: 28px;
    line-height: 40px;
  }
  .qa-item-detail {
    padding: 16px;
    font-size: 16px;
  }
  .qa-item-detail::after {
    width: 39px;
    height: 24px;
  }
  .qa-item-answer {
    padding: 16px;
    font-size: 14px;
    line-height: 21px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 360px;
  }
  .question-banner {
    padding-top: 111px;
    padding-bottom: 8px;
    margin-bottom: 24px;
  }
  .question-banner > h1 {
    font-size: 28px;
    font-weight: bold;
    padding-right: 16spx;
    color: black;
  }
  .question-banner > img {
    width: 24px;
  }
  .qa {
    padding-bottom: 56px;
  }
  .qa h3 {
    font-size: 20px;
    line-height: 28px;
  }
  .qa-item-detail {
    padding: 16px;
    font-size: 16px;
  }
  .qa-item-detail::after {
    width: 39px;
    height: 24px;
  }
  .qa-item-answer {
    padding: 16px;
    font-size: 14px;
    line-height: 21px;
  }
}

.header {
  background: #AA0601;
  height: 108px;
  padding-right: 88px;
  padding-left: 88px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header .header-menu > a {
  padding-right: 64px;
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  display: block;
}

.header .nav li:last-child a {
  padding-right: 0;
}

.header .ham-icon, .header .dropdown {
  display: none;
}

.ham-icon {
  position: absolute;
  left: 16px;
  color: #FFFFFF;
}

.dropdown {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  max-height: 0px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  overflow: hidden;
  z-index: 120;
}

.dropdown.active {
  max-height: 200px;
}

.dropdown li a {
  display: block;
  background: #AA0601;
  border-top: 1px solid #FFFFFF;
  padding: 16px 0px;
  text-decoration: none;
}

.dropdown li a:hover {
  background: #8f0400;
}

/* .header-menu */
@media (max-width: 767px) {
  .header {
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header img {
    max-width: 48px;
  }
  .header .nav {
    display: none;
  }
  .header .ham-icon, .header .dropdown {
    display: block;
  }
}

/* Banner:背景圖 */
.banner {
  background: url("../images/w3/68.png") center/cover no-repeat;
  color: #650300;
}

.banner-content {
  height: 840px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.banner-content p {
  font-size: 36px;
  line-height: 54px;
  font-weight: medium;
}

@media (max-width: 992px) {
  .banner-content {
    padding: 0 48px;
  }
  .banner-conten h1 {
    font-size: 48px;
    line-height: 72px;
  }
  .banner-content p {
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
  }
}

@media (max-width: 767px) {
  .banner {
    background: url("../images/w3/68.png") center/cover no-repeat;
  }
  .banner-content {
    height: 394px;
    padding: 0 12px;
  }
  .banner-content p {
    font-size: 16px;
    line-height: 22px;
  }
  .banner-content h1 {
    font-size: 32px;
    line-height: 45px;
  }
}

/* 專業的心cards*4 */
.service {
  background: #AA06010D;
  padding-top: 64px;
}

.service-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 64px;
  padding-bottom: 80px;
}

.service-item li {
  width: 25%;
  padding: 0 37px 24px 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service-item li h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: Medium;
  margin-top: 4px;
  margin-top: 40px;
}

.service-item li p {
  width: 208px;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
}

.service-item li img {
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* 專業的心cards*4 */
@media (max-width: 992px) {
  .service-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .service-item li {
    width: 50%;
    padding: 0 50px 40px 50px;
  }
  .service-item li p {
    width: 224px;
  }
  .service-order-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .service-order-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .service-order-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .service-order-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

@media (max-width: 767px) {
  .service {
    padding-top: 32px;
  }
  .service h2 {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 0px;
  }
  .service-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .service-item li {
    width: 100%;
    padding: 0 50px 28px 50px;
  }
}

/* 經典系列鏡框 glasses type*/
.glasses {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 64px;
  margin-bottom: 80px;
}

.glasses-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}

.glasses-list li:last-child {
  margin-bottom: 0px;
}

.sunglasses {
  position: relative;
}

.sunglasses::before {
  content: '';
  background: url("../images/w3/15.png") no-repeat center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  background-size: contain;
}

.sunglasses:hover::before {
  opacity: 1;
}

.glasses-list li:nth-child(2) img {
  width: 100%;
}

.glasses-list li:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.glasses-item {
  padding-left: 24px;
  padding-right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.glasses-item p {
  font-size: 48px;
  line-height: 72px;
  color: #AA0601;
  font-style: italic;
  font-family: Roboto;
  font-weight: bold;
  padding-left: 8px;
}

@media (max-width: 992px) {
  .font-h2 {
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    margin-bottom: 32px;
  }
  .glasses {
    padding: 0 48px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .glasses-list li {
    margin-bottom: 8px;
  }
  .glasses-list li:nth-child(2) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .glasses-item p {
    font-size: 28px;
    line-height: 42px;
  }
  .glasses-optical, .sunglasses {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .font-h2 {
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    margin-bottom: 16px;
  }
  .glasses {
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 0px;
  }
  .glasses-list li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .glasses-optical, .sunglasses {
    width: 100%;
  }
  .glasses-item {
    position: absolute;
    margin-left: 0;
    -webkit-filter: brightness(500);
    filter: blur(spx);
  }
}

.brand {
  background: url("../images/w3/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 479px;
}

.brand h2 {
  padding-top: 64px;
  padding-bottom: 60px;
  color: #FFFFFF;
}

.brand-list {
  max-width: 1539px;
  max-height: 840px;
  margin: 0 auto;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brand-item1-left {
  width: 37%;
  margin-right: 8px;
  /*   display: flex;  */
}

.brand-item1-left img {
  width: 100%;
  height: 100%;
}

.brand-item1-right {
  width: 62%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.brand-item1-right-top {
  height: 54%;
  margin-bottom: 8px;
  /*   display: flex; */
}

.brand-item1-right-top img {
  width: 100%;
  height: 100%;
}

.brand-item1-right-down {
  height: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.boy {
  width: 14%;
  margin-right: 8px;
}

.boy img {
  width: 100%;
  height: 100%;
}

.boy-right {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.boy-right-img {
  height: 54%;
}

.boy-right-img img {
  width: 100%;
  height: 100%;
}

.boy-right-more {
  height: 45%;
}

.more {
  width: 100%;
  height: 100%;
  text-align: right;
}

.more img {
  height: 100%;
  margin-right: 10%;
}

.brand-join:nth-child(1) {
  margin-right: 30px;
}

.brand-join {
  position: relative;
}

.brand-join::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.5);
}

.brand-join span {
  font-size: 72px;
  line-height: 108px;
  color: #AA0601;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 99;
  white-space: nowrap;
}

@media (max-width: 992px) {
  .brand {
    padding-top: 40px;
    padding-bottom: 417px;
    padding-right: 48px;
    padding-left: 48px;
  }
  .brand h2 {
    padding-top: 40px;
    padding-bottom: 32px;
  }
  .brand-list {
    margin-bottom: 40px;
  }
  .brand-join span {
    font-size: 32px;
    line-height: 43px;
  }
}

@media (max-width: 767px) {
  .brand {
    padding-top: 24px;
    padding-bottom: 189px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .brand h2 {
    padding-top: 24px;
    padding-bottom: 16px;
  }
  .brand-list {
    margin-bottom: 20px;
  }
  .brand-join:first-child {
    margin-bottom: 20px;
    margin-right: 0px;
  }
  .brand-join {
    width: 100%;
  }
  .brand-item2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
  }
}

/* 顧客推薦 */
.customer {
  margin-top: -335px;
  margin-bottom: 80px;
}

.customer h2 {
  color: white;
}

.customer .customer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 23.5%;
}

.customer .cust-content {
  background: white;
  border: 1px solid #DEE2E6;
}

.customer .cust-content p {
  font-size: 16px;
  line-height: 24px;
  padding: 0 16px;
  margin-bottom: 16px;
}

.customer .cust-content .cust-title {
  margin-top: 16px;
  color: #212529;
}

.customer .cust-content .cust-detail {
  color: #212529;
}

.customer .cust-content .cust-update {
  color: #707070;
}

@media (max-width: 992px) {
  .customer {
    margin-top: -377px;
    margin-bottom: 40px;
  }
  .customer .customer-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 48px;
    margin-right: 48px;
  }
  .customer .customer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 48%;
  }
  .customer .customer-list img {
    width: 100%;
  }
  .customer .customer-list:not(:last-child) {
    margin-bottom: 24px;
  }
}

@media (max-width: 767px) {
  .customer {
    margin-top: -165px;
    margin-bottom: 24px;
  }
  .customer .customer-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: column;
        flex-wrap: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 12px;
    margin-right: 12px;
  }
  .customer .customer-list {
    width: 100%;
  }
  .customer .customer-list:not(:last-child) {
    margin-bottom: 16px;
  }
}

/* Contact form */
.contact {
  background: #AA06010D;
  color: #000000;
}

.contact-wrap {
  max-width: 792px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 92px;
}

.contact-wrap h2 {
  margin-bottom: 24px;
  text-align: center;
}

.contact-desc {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
}

input[type="text"], textarea {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 16px;
  padding: 14px 16px;
  border: 1px solid #000;
  background-color: transparent;
}

textarea {
  resize: none;
  height: 136px;
}

::-webkit-input-placeholder, input[type="submit"], lebal {
  font-size: 16px;
  line-height: 24px;
}

:-ms-input-placeholder, input[type="submit"], lebal {
  font-size: 16px;
  line-height: 24px;
}

::-ms-input-placeholder, input[type="submit"], lebal {
  font-size: 16px;
  line-height: 24px;
}

::placeholder, input[type="submit"], lebal {
  font-size: 16px;
  line-height: 24px;
}

input[type="checkbox"] + label {
  display: block;
  cursor: pointer;
  padding-left: 4px;
}

input[type="checkbox"] {
  display: none;
}

input[type=checkbox] + label::before {
  content: "\2714";
  border: 1px solid #000;
  border-radius: 10%;
  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 1px 0 1px 3px;
  margin-right: 8px;
  color: transparent;
}

input[type="checkbox"]:checked + label:before {
  background-color: #AA0601;
  border-color: #AA0601;
  color: #fff;
}

.submit {
  margin-top: 42px;
  text-align: center;
}

input[type="submit"], input[type="reset"] {
  padding: 16px 58px;
  cursor: pointer;
  border: none;
  background: #AA0601;
  color: #FFF;
}

input[type="submit"]:hover {
  background: #650300;
}

@media screen and (max-width: 992px) {
  .contact-wrap {
    padding-top: 40px;
    padding-bottom: 56px;
    padding-right: 135px;
    padding-left: 135px;
  }
  input[type="submit"] {
    padding: 7px 36px;
  }
}

@media screen and (max-width: 767px) {
  .contact-wrap {
    padding-top: 24px;
    padding-bottom: 48px;
    padding-right: 24px;
    padding-left: 24px;
  }
}

/* Footer */
.footer {
  background: #AA0601;
}

.footer-wrap {
  padding: 36px 25px;
  color: white;
}

.footer-wrap .menu a {
  font-size: 16px;
  line-height: 48px;
}

.footer-wrap .menu .menu-item:not(:last-child),
.footer-wrap .menu .social-item:not(:last-child) {
  padding-right: 48px;
}

.footer-wrap .menu .social-item:not(:last-child) {
  padding-right: 32px;
}

.phone-mail img {
  width: 48px;
}

.phone-mail .phone {
  margin-bottom: 22px;
}

.phone-mail .phone .icon-phone {
  padding-right: 23px;
}

.phone-mail .mail {
  padding-bottom: 24px;
  border-bottom: 1px solid white;
  margin-bottom: 24px;
}

.phone-mail .mail .icon-mail {
  padding-right: 12px;
}

.phone-mail span {
  font-size: 36px;
  line-height: 54px;
}

.copyright .logo img {
  width: 80px;
  margin-right: 38px;
}

.copyright .log span {
  font-size: 16px;
  line-height: 48px;
}

.copyright .aggrement span {
  font-size: 14px;
  line-height: 48px;
  color: white;
}

.copyright .aggrement span:first-child {
  margin-right: 62px;
}

@media screen and (max-width: 992px) {
  .footer-wrap {
    padding: 40px 0px;
  }
  .footer-wrap .menu {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-wrap .menu a {
    color: white;
    font-size: 16px;
    line-height: 24px;
  }
  .footer-wrap .menu .menu-item:not(:last-child),
  .footer-wrap .menu .social-item:not(:last-child) {
    padding-right: 40px;
  }
  .footer-wrap .menu .social-item:not(:last-child) {
    padding-right: 24px;
  }
  .phone-mail img {
    width: 32px;
  }
  .phone-mail .phone {
    margin-bottom: 8px;
  }
  .phone-mail .phone .icon-phone {
    padding-right: 9px;
  }
  .phone-mail .mail {
    padding-bottom: 24px;
    border-bottom: 1px solid white;
    margin-bottom: 24px;
  }
  .phone-mail .mail .icon-mail {
    padding-right: 8px;
  }
  .phone-mail span {
    font-size: 20px;
    line-height: 30px;
    color: white;
  }
  .copyright .logo img {
    display: none;
  }
  .copyright .logo span {
    font-size: 16px;
    line-height: 24px;
  }
  .copyright .aggrement span {
    font-size: 14px;
    line-height: 24px;
  }
  .copyright .aggrement span:first-child {
    margin-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer-wrap {
    padding: 24px 12px;
    position: relative;
  }
  .footer-wrap .menu .menu-list {
    display: none;
  }
  .footer-wrap .menu .social {
    position: absolute;
    right: 12px;
    top: 24px;
  }
  .footer-wrap .menu .social img {
    max-width: 24px;
  }
  .footer-wrap .menu .social-item:not(:last-child) {
    padding-right: 24px;
  }
  .footer-wrap .menu a {
    color: white;
    font-size: 16px;
    line-height: 24px;
  }
  .phone-mail img {
    width: 20px;
  }
  .phone-mail .phone {
    margin-bottom: 9px;
  }
  .phone-mail .phone .icon-phone {
    padding-right: 9px;
  }
  .phone-mail .mail {
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
  }
  .phone-mail .mail .icon-mail {
    padding-right: 9px;
  }
  .phone-mail span {
    font-size: 16px;
    line-height: 30px;
  }
  .copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: block;
  }
  .copyright .logo img {
    display: block;
    position: absolute;
    margin-right: 0;
    right: 12px;
    bottom: 24px;
    max-width: 46px;
  }
  .copyright .logo span, .copyright .aggrement span {
    display: block;
    font-size: 14px;
    line-height: 21px;
  }
  .copyright .aggrement {
    display: block;
  }
  .copyright .logo,
  .copyright .aggrement span:not(:last-child) {
    margin-bottom: 8px;
  }
}
/*# sourceMappingURL=all-w3.css.map */