
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------ 自訂 ------------- */
body{
	margin: 0 auto;
	font-family: 'Roboto', '微軟正黑體', 'sans-serif';
    font-style: italic;
	text-align:center;
	border: 1px solid #707070;  }
h2{
	font-size: 64px;
	font-weight: bold;
	line-height: 75px;
}
.f24 ,.f24-h28, .f24-h36, .f24-h42 {
	font-size: 24px;
	font-weight:bold;
}
.f24-h28{
	line-height: 28px;
}
.f24-h36{
	line-height: 36px;
}
.f24-h42{
	line-height: 42px;
	text-align:left;
}
.f80-h94{
	font-size: 80px;
    line-height: 94px;
	font-weight: 900;
}
.f20, .f20-h28, .f20-h42 {
	font-size:20px;	 
	font-weight:bold;
}
.f20-h28{
	line-height: 28px;
	font-weight:bold;	 	
}
.f20-h42{
	line-height: 42px;	 
	font-weight:bold;	
	font-style:normal;
}
.medium{
	font-weight: 500;
}
.bold{
	font-weight: 700;
}
.black{
	font-weight: 900;
}  
.mb8{
	margin-bottom: 8px;
}
.mb16{
	margin-bottom: 16px;
}
.mb18{
	margin-bottom: 18px;
}
.mb22{
	margin-bottom: 22px;
}
.mb24{
	margin-bottom: 24px;
}
.mb30{
	margin-bottom: 30px;
}
.mb32{
	margin-bottom: 32px;
}
.mt34{
	padding-top: 34px;
}
.mb34{
	margin-bottom: 34px;
}
.mb26{
	margin-bottom: 26px;
}
.mb32{
	margin-bottom: 32px;
}
.mb40{
	margin-bottom: 40px;
}
.mb48{
	margin-bottom: 48px;
}
.mb56{
	margin-bottom: 56px;
}
.mb58{
	margin-bottom: 58px;
}
.mb64{
	margin-bottom: 64px;
}
.mb160{
	margin-bottom: 160px;
}
.align-left{
	text-align: left; 
}
.normal{
	font-style:normal;
}
.italic{
	font-style:italic;
}

/* header  */
.header{
	background-image: url(../images/w2/banner.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 960px;
	display: flex;
	justify-content: center;
	align-items: center;
}	
.header-center{
	width: 315px;
	margin: 0 auto;
	padding-top: 100px;
}
.header h1, .header p{
	color:white;
}
.social{
	display: flex;
}
.social li{
	margin-left: 16px;
}

/* About content */
.about{	
	display: flex;
	flex-direction:column;
	align-items: center;
	margin-top: 64px;
	margin-bottom: 56px;	
}
.about ul::before{
	content:'';
	display: block;
	width: 384px;
	padding-top: 34px;
	border-top: 1px solid black;
}
.about li{
	position: relative;
	margin-bottom: 32px;
}
.about li::before{
	content:""; 
	position: absolute; 
	background:  #891818; 
	width: 22px;
	height: 22px; 
	border-radius: 50%; 
	top: 10%; 
	margin-left: -38px;
}

/* Brank content */
.brand{
	background: black;
}
.brand-center{
	width: 1220px;
	margin: 0 auto;
	padding-top: 64px;
	padding-bottom: 160px;
}
.brand h2, .brand p{
	color:white;
}
.brand-img{
	display: flex;
	justify-content: space-between;
}

.work-title{
	margin-top: 64px;
	margin-bottom: 128px; 
	text-align: center;
}
.work-list{
	background-image: url(../images/w2/photo-1561291386-5be50364cfb5.png);
	background-position: center bottom ;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 104px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.design:first-child {
	margin-top: -80px;
}
.design {
	width: 1200px;
	display: flex;
	font-display: row;
	justify-content: center;
	flex-wrap: wrap;
	justify-content: space-between;
}
.design p{
	font-size:20px;
	font-style: normal;
	color:white;
	margin-top: 16px;
	margin-bottom: 56px;
}

.footer{
	background: #000;
	text-align: center;
	color:white;
	padding-top: 64px;
	padding-bottom: 80px;
}







